<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  
  <node pkg="dialogflow" type="talker.py" name="talker" output="screen">
    <param name="agent_name" value="incare-dialog-agent" />
    <param name="data_dir" value="$(find dialogflow)/data" />
  </node>

  <node pkg="dialogflow" type="vad.py" name="vad" args="--keywords 'hey pico' --sensitivities 0.9" />

  <!--<node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>-->
</launch>
