<launch>
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
  
  <node pkg="dialogflow" type="talker.py" name="talker" output="screen">
    <param name="agent_name" value="incare-dialog-agent" />
  </node>

  <node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>
</launch>
